.navbar-container {
  background-color: #28704c !important;
}

.navbar-toggle {
  color: #fff !important;
}

.nav-item-list a {
  color: #fff !important;
}

.fa-bars {
  color: white;
}

.visible {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.2);
}
